* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	min-height: 100vh;
	overflow-x: hidden;
}

body {
  background-image: url("img/flowers-bg-img.webp");
	background-repeat: no-repeat;
	background-size: cover;
	/* Avoid scrollbar overflow */
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

h1 {
  font-size: 3.5rem;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	margin: 8px;
}

.main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header-row{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-row img{
	width: 100%;
	height: auto;
	max-width: 70px;
}

.text-container {
	font-size: 1rem;
	font-family: "Space Mono", monospace;
	font-weight: 400;
	font-style: normal;
	color: lightgoldenrodyellow;
	margin: 1rem 0 1rem 0;
	text-align: start;
	word-wrap: break-word;
	width: 100%;
}

.image-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 5rem;
	/* IMPORTANT - Ensures width accounts for padding/margin, remains same total width as .text-container */
	box-sizing: border-box;
}

.row-left {
	display: flex;
	width: 100%;
	margin-bottom: 5rem;
	justify-content: flex-start;
}

.row-right {
	display: flex;
	width: 100%;
	margin-bottom: 5rem;
	justify-content: flex-end;
}

.image-container img {
	border-radius: 8px;
	max-width: 700px;
	filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
	width: 100%;
	/* maintain image aspect ratio */
	height: auto;
}

/* mobile/tablet */
@media screen and (max-width: 1536px) {

	.image-container {
		padding: 0.5rem;

	}

	.main-container {
		width: 100%;
		max-width: 90%;
	}


}

/* desktop */
@media screen and (min-width: 1536px) {

	.main-container {
		width: 90%;
		max-width: 1536px;
	}

	img {
		margin: 0.5rem;
	}


}